<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data数据</title>
</head>
<body>
<div id="app">
<h3>{{user.name}}-----{{user.pwd}}</h3>
    <hr>
    <h3 v-for="(value,key,index) in user">
        {{key}}:{{value}}---{{index}}
    </h3>
<!-- 遍历数组-->
    <ul>
        <li v-for="(city,index) in arr">{{index}}---{{city}}</li>
    </ul>
<!--遍历数组中的对象-->
    <ul>
        <li v-for="(user,index) in user_list" :key="index">
            {{index+1}}--{{user.name}}--{{user.pwd}}
        </li>
    </ul>
</div>

<script src="js/vue.min.js"></script>
<script>
    // 创建vue的第一个实例
    new Vue({
        el: "#app",
        data: {
            mes: "Hello Vue",
            username: "Python2009",
            //字符串
            name1:'百知教育',
            //数字
            age:23,
            //对象
            user:{'name':'小黑','pwd':'123456',},
            //数组
            arr:['北京','上海','天津'],
            user_list:[
                {'name':'小黑','pwd':'111111',},
                {'name':'小白','pwd':'222222',},
                {'name':'小红','pwd':'333333',},
            ]
        },
    })
</script>

</body>
</html>