<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<hr>
<div id="app">
    <input type="text" v-model="msg">
    <input type="button" value="发表" @click="add_note">
    <ul>
        <li v-for="(value,index) in notebook" :key="index">
            <span>{{value}}</span> <a href="javascript:;" @click="delNote(index)">删除</a>
        </li>
    </ul>
    <span>总数量：{{notebook.length}}条</span>
    <input type="button" value="清空留言板" @click="delAll" v-show="notebook.length!=0">


</div>

<script src="../js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",

        data: {
            notebook: [],
            msg: "",
        }, methods: {
            // 添加留言到留言板
            add_note() {
                // html标签中输入框的值无法直接获取 单可以通过双向绑定将输入框的值与vue的data进行绑定
                // console.log(this.msg);
                let msg = this.msg;
                if (msg) {
                    // 将留言添加到留言板末尾
                    // this.notebook.push(this.msg);
                    // 将留言添加到留言板的首行
                    this.notebook.unshift(this.msg)
                }
                // 发表后清空留言板
                this.msg = ""
            },
            // 删除留言
            delNote(index) {
                console.log(index);
                // 根据点击的留言的下标删除留言
                this.notebook.splice(index, 3)  // 参数1：从哪个下标开始删除 参数2：删除几个元素
            },
            // 删除所有
            delAll() {
                this.notebook = [];
            },

        }
    })
</script>

</body>
</html>